<header id="header">
    <nav class="navbar navbar-dark" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ '/' | relative_url }}" id="logo">{{ site.title }}</a>
            <button class="navbar-toggler hidden-sm-up" type="button"
                data-toggle="collapse" data-target="#exCollapsingNavbar2"
                aria-controls="exCollapsingNavbar2" aria-expanded="false"
                aria-label="Toggle navigation">&#8801;</button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <div class="nav navbar-nav">
                    {% for item in site.nav %}
                        <a href="{{ item.url | relative_url }}"
                           class="nav-item nav-link btn header-btn{% if page.url == item.url %} active{% endif %}">
                            {{ item.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>
</header>
<script>
    var r = Math.floor(150*Math.random());
    var g = Math.floor(150*Math.random());
    var b = Math.floor(150*Math.random());
    $("#header").css("background", "rgb("+r+","+g+","+b+")");
</script>