<!DOCTYPE html>
<!--
_                                
| |_   _  ___ __ _ ___            
| | | | |/ __/ _` / __|           
| | |_| | (_| (_| \__ \           
|_|\__,_|\___\__,_|___/           
                                  
 _           _   _   _      _     
| |__   __ _| |_| |_(_) ___| |__  
| '_ \ / _` | __| __| |/ __| '_ \ 
| |_) | (_| | |_| |_| | (__| | | |
|_.__/ \__,_|\__|\__|_|\___|_| |_|
 
-->
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% endif %}

    {% if page.robots %}
        <meta name="robots" content="{{ page.robots }}">
    {% endif %}

    <meta name="author" content="Lucas Battich">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.citation %}
        {{ page.citation }}
    {% endif %}

    <!-- <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" type="text/css" /> -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" type="text/css" />
    <script src="{{ '/assets/scripts/modernizr-2.6.1.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/tether.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/bootstrap.min.js' | relative_url }}"></script>

    {% if page.math %}
        <script type="text/javascript" async
            src="https://cdn.jsdelivr.net/npm/mathjax@2.7.7/MathJax.js?config=AM_CHTML">
        </script>
    {% endif %}

    {% include piwik.html %}

</head>
<body>
    <!-- header -->
    {% include header.html %}

    <!-- Content -->
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sx-12 mx-10 mx-sm-0">
                    {{ content }}
                    <hr />
                    <a title="Add this article to your Mendeley library" href="http://www.mendeley.com/import/?url={{ current_page.url }}"><img src="http://www.mendeley.com/graphics/mendeley.png"/></a>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    {% include footer.html %}

</body>
</html>
